<%- include('../partials/header') %>

<form id="new-form" action="/vgames/<%= vgame._id %>" method="POST">
  <h2></h2>
  <label>Title:</label>
  <input type="text" name="title" value="<%= vgame.title %>" />
  <label>Release Year:</label>
  <input type="text" name="releaseYear" value="<%= vgame.releaseYear %>" />
  <label>ESRB Rating:</label>
  <select name="esrbRating">
    <option value="E" <%= vgame.esrbRating === "E" ? 'selected' : '' %>>E</option>
    <option value="T" <%= vgame.esrbRating === "T" ? 'selected' : '' %>>T</option>
    <option value="M" <%= vgame.esrbRating === "M" ? 'selected' : '' %>>M</option>
  </select>
  <label>System:</label>
  <input type="text" name="system" value="<%= vgame.system %>" />
  <label>Price:</label>
  <input type="text" name="price" value="<%= vgame.price %>" />
  <input id="update-video-game-button" type="submit" value="Update Video Game" />
</form>

<%- include('../partials/footer') %>

